$header-height :70px;

app-header {
    height: $header-height;
}

.h-panel {
    height: calc(100vh - $header-height);
}

.content {
    overflow-y: auto;
}

/* width */
.content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
    background: #555;
}