<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-8 h-100 ">
            <div class="card h-100">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-4 h-100 ">
            <div class="card h-100">
                <div class="container-fluid h-100">
                    <div class="row h-75">
                        <div class="col-4"></div>
                        <div class="col-8 h-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>